
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Volkhov:ital,wght@0,400;0,700;1,400&display=swap');

body {
  padding-left: 2em;
  padding-right: 2em;
  background-color: #f3f3f0;
  color: #30362F;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #30362F;
  font-family: 'Volkhov', serif;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: solid 1px #1c1a1a;
  margin-bottom: 0.2em;
}

h2 {
  font-family: 'Volkhov', serif;
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0;
}

.tagline {
  text-align: center;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  margin-bottom: 2em;
}

.leftColumn {
  float: left;
  width: 450px;
}

.rightColumn {
  float: left;
  width: 720px;
  padding-top: 2.05em;
}

.board {
  border: 4px double #999;
  border-spacing: 0px;
}

.cell {
  height: 30pt;
  width: 30pt;
  text-align: center;
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  font-size: 19pt;
  cursor: pointer;
}

.board tr:nth-child(3) .cell, .board tr:nth-child(6) .cell {
  border-bottom: 2px solid #191919;
}

.board td:nth-child(3).cell, .board td:nth-child(6).cell {
  border-right: 2px solid #191919;
}

.cell {
  position: relative;
}

.cell.related {
  background-color: #CAE2E3;
}

.cell.selected {
  background-color: #A1CCCE;
}

.cell.wrong {
  color: #CA054D;
}

.note-1, .note-2, .note-3, .note-4, .note-5, .note-6, .note-7, .note-8, .note-9 {
  font-size: 7pt;
  position: absolute;
} 

.note-1, .note-2, .note-3 {
  top: 0;
}  
.note-4, .note-5, .note-6 {
  top: 14px;
}
.note-7, .note-8, .note-9 {
  top: 29px;
}
.note-1, .note-4, .note-7 {
  left: 3px;
}
.note-2, .note-5, .note-8 {
  left: 18px;
}
.note-3, .note-6, .note-9 {
  left: 34px;
}

.numberInput {
  position: relative;
  float: left;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}  

#inputButtons {
  margin-top: 2em;
}

.numberInput .content {
  position: absolute;
  z-index: 10;
  width: 50px;
}  

.numberInput .clickValue {
  text-decoration: none;
  color: #2f3338;
  font-size: 19pt;
  margin-left: 5px;
  border: none;
  background: none;
} 

.numberInput .clickNote {
  text-decoration: none;
  color: #2f3338;
  float: right;
  display: block;
  padding: 0px 5px 0px 5px;
  border: dashed 1px #9aa0a6;
} 